DJANGO_SECRET_KEY=django-insecure-DJANGO-KEY
DJANGO_DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
PG_DB_NAME=DATABASE_NAME_POSTGRES
PG_USERNAME=DATABASE_USERNAME_POSTGRES
PG_PASSWORD=DATABASE_PASSWORD_POSTGRES
PG_HOSTNAME=127.0.0.1
PG_PORT=5432
USING_POSTGRES=TRUE_IF_USING_POSTGRES
SQLITE_MODIFIED=TRUE_IF_USING_MODIFIED_SQLITE
